@import "tailwindcss";

h1 {
    color: #D83D00;
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    color: #D83D00;
    font-size: 2rem;
    font-weight: normal;  
}

button {
    color: white;
    background-color: #00A18E;
    border: 1px solid #00A18E;
    border-radius: 0.2rem;
    padding: 0.625rem;
    transition: all 700ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: space-between ;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: solid 2px #00A18E;
    border-radius: 0.75rem;
    max-width: 300px;
    margin: 0 1rem;
    height: 350px;
}

.cardsHist {
    border-top: solid 2px #00A18E;
    border-bottom: solid 2px #00A18E;
    max-width: 300px;
    margin: 0 1rem;
    overflow: hidden;
}

#config {
    align-items: flex-start;
}

#datos::-webkit-scrollbar {
    width: 6px;
}

#datos::-webkit-scrollbar-thumb {
    background-color: #00A18E;
    border-radius: 10px;
}